* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
}


.header {
    height: 80vh;
    width: 100vw;
    /* background-color: blue; */
    background-image: url(../Assets/About/hero\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.nav-bar {
    position: absolute;
    height: 12vh;
    width: 80vw;
    top: 0.5rem;
    left:8rem;
    right: 8rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #F5F5F5;
    border-radius: 52px;
    background: transparent;
    backdrop-filter: blur(2.5px);
}


.nav-logo {
    height: 100%;
    width: 20%;
    /* background-color: black; */
    position: relative;
}

.nav-logo img {
    height: 80px;
    width: 95px;
    margin-top: 0.5rem;
    position: absolute;
    top: -6px;
    left: 4rem;
}


.nav-options {
    height: 100%;
    width: 45%;
    /* background-color: lightslategray; */
}

.nav-options ul {
    gap: 2.9rem;
}

.nav-options ul li {
    list-style: none;
}

.nav-options ul li a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.1rem;
}

.nav-options .active {
    /* background-color: #545353; */
    padding: 0.9rem 1.5rem;
    background: transparent;
    border: 2.5px solid #7c7c7c;
    border-radius: 90px;
    color: #f5a623;
}

.nav-options ul li a:hover {
    /* background-color: #0e0e0e; */
    /* padding: 0.9rem 1.7rem; */
    /* background: transparent; */
    /* border: 1px solid #1a1a1a; */
    /* border-radius: 90px; */
    color: #f5a623;
}

.nav-icons {
    height: 100%;
    width: 30%;
    /* background-color: olivedrab; */
}

.nav-icons .icons {
    height: 100%;
    width: 60%;
    /* background-color: brown; */
    gap: 2.5rem;
}

.nav-icons .icons i {
    font-size: 1.2rem;
    color: #F5F5F5;
    cursor: pointer;
}


.nav-icons .theme-toggle {
    height: 100%;
    width: 40%;
    /* background-color: blueviolet; */
}

.nav-icons .theme-toggle button {
    font-size: 1.1rem;
    color: #F5F5F5;
    background: transparent;
    padding: 0.5rem;
    border: 1px solid #F5F5F5;
    border-radius: 40px;
}


.head-content {
    position: absolute;
    height: 55%;
    width: 28%;
    /* background-color: blueviolet; */
    top: 10rem;
    left: 8rem;
    padding: 1rem;
    backdrop-filter: blur(1px);
    border: none;
}

.head-content-heading {
    height: 40%;
    width: 100%;
    /* background-color: antiquewhite; */
}

.head-content-heading {
    flex-direction: column;
    align-items: start;
}

.head-content-heading h1 {
    font-size: 3.5rem;
    color: #F5F5F5;
}

.head-content-heading span {
    color: #f5a623;
}


.head-content-para {
    height: 28%;
    width: 70%;
    /* background-color: cadetblue; */
}

.head-content-para p {
    color: #F5F5F5;
    font-size: 1.6rem;
}











.line {
    height: 4px;
    width: 100%;
    background-color: #b6b3b3;
}


















.our-story {
    margin-top: 2rem;
    height: 60vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our-story-content {
    height: 60%;
    width: 40%;
    /* background-color: burlywood; */
}

.title-our {
    height: 20%;
    width: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.5rem;
    color: #F5F5F5;
}

.para-our {
    height: 40%;
    width: 100%;
    /* background-color: darkgray; */
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #b6b3b3;
}

.our-story-content button {
    margin-top: 2.5rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    background-color: #f5a623;
    border-radius: 10px;
    border: none;
}

.our-story-content button p {
    color: #F5F5F5;
}

.our-story-pic {
    height: 85%;
    width: 37%;
    /* background-color: burlywood; */
    background-image: url(../Assets/About/chef.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

















.our-values {
    height: 55vh;
    width: 100vw;
    /* background-color: lawngreen; */
}

.our-value-head {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-value-head h1 {
    color: #F5F5F5;
    font-size: 2.4rem;
}

.our-value-card-out {
    height: 80%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.our-value-card {
    height: 90%;
    width: 20%;
    /* background-color: hotpink; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.our-card-icon {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-card-icon i {
    font-size: 5rem;
    color: #f5a623;
}

.our-card-head {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-card-head h3 {
    font-size: 2rem;
    color: #F5F5F5;
}

.our-card-content {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-card-content p {
    font-size: 1.5rem;
    color: #b6b3b3;
}

















.our-team {
    margin-top: 3rem;
    height: 90vh;
    width: 100vw;
    /* background-color: aqua; */
}


.our-team-head {
    height: 30%;
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1.8rem;
}

.our-team-head h3 {
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 3.7rem;
    color: #F5F5F5;
    /* text-align: center; */
}

.our-team-head p {
    color: #b6b3b3;
    font-size: 1.8rem;
    margin-left: 4rem;
}


.our-team-cards-outer {
    height: 55%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.our-team-card {
    height: 90%;
    width: 20%;
    /* background-color: chartreuse; */
    border: 2px solid #828080;
    border-radius: 14px;
}

.our-team-card-pic {
    height: 70%;
    width: 100%;
    /* background-color: dodgerblue; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(../Assets/About/chef\ 1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-team-card-pic-1 {
    height: 70%;
    width: 100%;
    /* background-color: dodgerblue; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(../Assets/About/chef\ 3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-team-card-pic-2 {
    height: 70%;
    width: 100%;
    /* background-color: dodgerblue; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(../Assets/About/chef\ 2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-team-card-pic-3 {
    height: 70%;
    width: 100%;
    /* background-color: dodgerblue; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url(../Assets/About/chef\ 4.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-team-card-content {
    height: 30%;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 0.8rem;
}

.our-team-card-content h3 {
    color: #f5a623;
    font-size: 1.7rem;
}

.our-team-card-content p {
    color: #b6b3b3;
    font-size: 1.2rem;
}


.our-team-lowe-card-outer {
    height: 20vh;
    width: 90vw;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 1rem; */
    margin-left: 5rem;
    border-radius: 10px;
    border: 2px solid #828080;
}

.our-team-lowe-card {
    height: 90%;
    width: 20%;
    /* background-color: darkcyan; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.5rem;
    border-radius: 15px;
}

.our-team-lower-icon {
    height: 100%;
    width: 45%;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-team-lower-icon i {
    color: #f5a623;
    font-size: 4rem;
}

.our-team-lower-content {
    height: 100%;
    width: 45%;
    /* background-color: lime; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.our-team-lower-content h3 {
    font-size: 2.5rem;
    color: #F5F5F5;
}

.our-team-lower-content p {
    font-size: 1rem;
    color: #b6b3b3;
}

























.footer {
    margin-top: 6rem;
    height: 30vh;
    width: 98vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    border: 1px solid #828080;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo {
    height: 90%;
    width: 25%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-pic {
    height: 180px;
    width: 180px;
    /* background-color: darkmagenta; */
    background-image: url(../Assets/Home/IMG_6930.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.footer-content {
    height: 90%;
    width: 45%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick {
    height: 100%;
    width: 30%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
}

.quick-head p {
    color: #F5F5F5;
    font-size: 1.3rem;
}

.quick-list ul {
    list-style: none;
    font-size: 1.1rem;
}

.quick-list ul li {
    padding: 0.3rem 0;
}

.quick-list li a {
    color: #b6b3b3;
    text-decoration: none;
    
}

.quick-1 {
    height: 100%;
    width: 30%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.quick-2 {
    height: 100%;
    width: 30%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.4rem;
}


.footer-icons {
    height: 90%;
    width: 25%;
    /* background-color: lightcyan; */
}


.follow {
    height: 40%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    /* align-items: center; */
}

.follow h3 {
    color: #F5F5F5;
    font-size: 1.4rem;
}

.footer-i {
    height: 50%;
    width: 100%;
    /* background-color: khaki; */
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.2rem;
}

.footer-i span a {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    color: #0d0e0d;
    background-color: #F5F5F5;
    border-radius: 50%;
}

.last-part {
    height: 4vh;
    width: 98%;
    background-color: #1a1a1a;
    margin-left: 1rem;
    border: 1px solid #828080;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-part p {
    color: #F5F5F5;
}