* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
}


.header {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


/* Background Video */

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



.nav-bar {
    position: absolute;
    height: 12vh;
    width: 80vw;
    top: 0.5rem;
    left:8rem;
    right: 8rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #F5F5F5;
    border-radius: 52px;
    background: transparent;
    backdrop-filter: blur(3.5px);
}





.nav-logo {
    height: 100%;
    width: 20%;
    /* background-color: black; */
    position: relative;
}

.nav-logo img {
    height: 80px;
    width: 95px;
    margin-top: 0.5rem;
    position: absolute;
    top: -6px;
    left: 4rem;
}






.nav-options {
    height: 100%;
    width: 40%;
    /* background-color: lightslategray; */
}

.nav-options ul {
    gap: 2.9rem;
}

.nav-options ul li {
    list-style: none;
}

.nav-options ul li a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.1rem;
}




.nav-icons {
    height: 100%;
    width: 30%;
    /* background-color: olivedrab; */
}

.nav-icons .icons {
    height: 100%;
    width: 60%;
    /* background-color: brown; */
    gap: 2.5rem;
}

.nav-icons .icons i {
    font-size: 1.2rem;
    color: #F5F5F5;
    cursor: pointer;
}





.nav-icons .theme-toggle {
    height: 100%;
    width: 40%;
    /* background-color: blueviolet; */
}

.nav-icons .theme-toggle button {
    font-size: 1.1rem;
    color: #F5F5F5;
    background: transparent;
    padding: 0.5rem;
    border: 1px solid #F5F5F5;
    border-radius: 40px;
}





.head-content {
    position: absolute;
    height: 55%;
    width: 40%;
    /* background-color: blueviolet; */
    top: 12rem;
    left: 8rem;
    padding: 1rem;
    backdrop-filter: blur(3px);
    border: none;
}





.head-content-heading {
    height: 40%;
    width: 100%;
    /* background-color: antiquewhite; */
}

.head-content-heading {
    flex-direction: column;
    align-items: start;
}

.head-content-heading h1 {
    font-size: 3.5rem;
}

.head-content-heading .upper {
    color: #F5F5F5;
}

.head-content-heading .lower {
    color: #FF9F1C;
}







.line {
    height: 1.5%;
    width: 12%;
    background-color: #FF9F1C;
    border-radius: 25px;
    margin: 0.2rem 0;
}









.head-content-para {
    height: 28%;
    width: 70%;
    /* background-color: cadetblue; */
}

.head-content-para p {
    color: #F5F5F5;
    font-size: 1.6rem;
}








.head-content-button {
    height: 35%;
    width: 99%;
    /* background-color: olive; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.8rem;
}

.head-content-button button {
    padding: 0.8rem 1.7rem;
    border-radius: 10px;
    color: #F5F5F5;
    font-size: 1.2rem;
    border: 1px solid #FF9F1C;
}

.offer {
    background: transparent;
}

.explore {
    background-color: #FF9F1C;
}





.bottom {
    position: absolute;
    height: 15vh;
    width: 82vw;
    background-color: #0d0d0d;
    bottom: -4rem;
    left:9rem;
    right: 8rem;
    justify-content: space-between;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
}





.ing {
    height: 100%;
    width: 20%;
    /* background-color: aliceblue; */
    display: flex;
}

.log  {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log i {
    font-size: 2.9rem;
    color: #FF9F1C;
}

.up {
    margin-top: 1rem;
    color: #F5F5F5;
}


.low {
    margin-top: 1.2rem;
    color: #b6b3b3;
}





.exp {
    height: 100%;
    width: 20%;
    /* background-color: rgb(137, 43, 85); */
    display: flex;
}





.del {
    height: 100%;
    width: 20%;
    /* background-color: rgb(19, 187, 53); */
    display: flex;
}




.off {
    height: 100%;
    width: 20%;
    /* background-color: rgb(36, 113, 181); */
    display: flex;
}





/*      TODAY'S SPECIAL SECTION */

.today-special {
    height: 60vh;
    width: 100vw;
    /* background-color: aquamarine; */
}

.today-title {
    margin-top: 5.5rem;
    height: 12%;
    width: 100%;
    /* background-color: rgb(20, 20, 19); */
}

.today-title {
    color: #F5F5F5;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    gap: 1rem;
}

.today-title .line {
  height: 1px;
  width: 160px; 
  /* background: #f5a623; */
}

.today-special h2 {
    margin: 0;
    white-space: nowrap;
}

.line-left {
    background: linear-gradient(to left, #f5a623, transparent);
}

.line-right {
    background: linear-gradient(to right, #f5a623, transparent);
}