* {
    padding: 0;
    margin: 0;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80vh;
    width: 100vw;
    background-color: aqua;
    position: relative;
}

.nav-bar {
    position: absolute;
    height: 15vh;
    width: 95vw;
    background-color: beige;
    top: 1.5rem;
    left: 2rem;
    right: 2rem;
}

.head-content {
    position: absolute;
    height: 55%;
    width: 40%;
    background-color: blueviolet;
    top: 12rem;
    left: 2rem;
}

.bottom {
    position: absolute;
    height: 20vh;
    width: 95vw;
    background-color: brown;
    bottom: -7rem;
    left: 2rem;
    right: 2rem;
}