* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    width: 100%;
    overflow-x: hidden;
}


.header {
    height: 80vh;
    width: 100%;
    /* background-color: blue; */
    background-image: url(../Assets/Menu/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.nav-bar {
    position: absolute;
    height: 12vh;
    width: 80vw;
    top: 0.5rem;
    left:8rem;
    right: 8rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #F5F5F5;
    border-radius: 52px;
    background: transparent;
    backdrop-filter: blur(2.5px);
}


.nav-logo {
    height: 100%;
    width: 20%;
    /* background-color: black; */
    position: relative;
}

.nav-logo img {
    height: 80px;
    width: 95px;
    margin-top: 0.5rem;
    position: absolute;
    top: -6px;
    left: 4rem;
}


.nav-options {
    height: 100%;
    width: 40%;
    /* background-color: lightslategray; */
}

.nav-options ul {
    gap: 2.9rem;
}

.nav-options ul li {
    list-style: none;
}

.nav-options ul li a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.1rem;
}


.nav-icons {
    height: 100%;
    width: 30%;
    /* background-color: olivedrab; */
}

.nav-icons .icons {
    height: 100%;
    width: 60%;
    /* background-color: brown; */
    gap: 2.5rem;
}

.nav-icons .icons i {
    font-size: 1.2rem;
    color: #F5F5F5;
    cursor: pointer;
}


.nav-icons .theme-toggle {
    height: 100%;
    width: 40%;
    /* background-color: blueviolet; */
}

.nav-icons .theme-toggle button {
    font-size: 1.1rem;
    color: #F5F5F5;
    background: transparent;
    padding: 0.5rem;
    border: 1px solid #F5F5F5;
    border-radius: 40px;
}


.head-content {
    position: absolute;
    height: 45%;
    width: 28%;
    /* background-color: blueviolet; */
    top: 14rem;
    left: 8rem;
    padding: 1rem;
    backdrop-filter: blur(3px);
    border: none;
}

.head-content-heading {
    height: 10%;
    width: 100%;
    /* background-color: antiquewhite; */
}

.head-content-heading {
    flex-direction: column;
    align-items: start;
}

.head-content-heading h1 {
    font-size: 3.5rem;
    color: #F5F5F5;
}

.head-content-heading span {
    color: #f5a623;
}


.head-content-para {
    height: 28%;
    width: 90%;
    /* background-color: cadetblue; */
}

.head-content-para p {
    color: #F5F5F5;
    font-size: 1.6rem;
}











.line {
    height: 4px;
    width: 100%;
    background-color: #b6b3b3;
}







.categories {
    margin-top: 4rem;
    height: 20vh;
    width: 100%;
    /* background-color: aquamarine; */
}

.categories-head {
    height: 25%;
    width: 100%;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 7rem;
}

.categories-head h1 {
    font-size: 4rem;
    color: #F5F5F5;
}


.line-left {
    background: linear-gradient(to left, #f5a623, transparent);
}

.line-right {
    background: linear-gradient(to right, #f5a623, transparent);
}

.today-knife {
    margin-top: 2.5rem;
    height: 4%;
    width: 100%;
    /* background-color: rgb(20, 20, 19); */
    justify-content: start;
    margin-left: 7rem;
}

.today-knife img {
    height: 4.2rem;
    width: 4.2rem;
}

.today-knife .line {
  height: 1px;
  width: 105px; 
  /* background: #f5a623; */
}


.categories-button-outer {
    margin-top: 4.5rem;
    height: 35%;
    width: 100%;
    /* background-color: lightpink; */
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.categories-button-outer button {
    /* margin-bottom: 1rem; */
    padding: 0.8rem 2.2rem;
    background-color: #1a1a1a;
    border: 2px solid #828080;
    color: #F5F5F5;
    border-radius: 10px;
    font-size: 1.7rem;
    backdrop-filter: blur(1px);
}

.categories-button-outer button.active {
    background: #ff6b00;
    border: none;
}


















.items {
    /* margin-top: -3rem; */
    height: 100vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-card-outer {
    height: 80%;
    width: 90%;
    /* background-color: darksalmon; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.item-card {
    height: 40%;
    width: 40%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid #828080;
    border-radius: 10px;
}
.item-card-1 {
    height: 40%;
    width: 40%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid #828080;
    border-radius: 10px;
}


.item-card-pic-1 {
    margin-top: 1rem;
    height: 80%;
    width: 45%;
    /* background-color: beige; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    background-image: url(../Assets/Menu/margerita\ pizza.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-pic-2 {
    /* height: 97%; */
    width: 45%;
    /* background-color: beige; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 80%;
    background-image: url(../Assets/Menu/chicken\ burger.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-pic-3 {
    /* height: 97%; */
    width: 45%;
    background-color: beige;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
     margin-top: 1rem;
    height: 80%;
    background-image: url(../Assets/Menu/cremy\ pasta.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-pic-4 {
    /* height: 97%; */
    width: 45%;
    background-color: beige;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 80%;
    background-image: url(../Assets/Menu/cesar\ salad.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-pic-5 {
    /* height: 97%; */
    width: 45%;
    background-color: beige;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 80%;
    background-image: url(../Assets/Menu/cold\ coffee.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-pic-6 {
    /* height: 97%; */
    width: 45%;
    background-color: beige;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 80%;
    background-image: url(../Assets/Menu/chocolate\ cake.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-pic-7 {
    /* height: 97%; */
    width: 45%;
    background-color: beige;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 80%;
    background-image: url(../Assets/Menu/veg\ burger.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-pic-8 {
    /* height: 97%; */
    width: 45%;
    background-color: beige;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 80%;
    background-image: url(../Assets/Menu/chicekn\ biryani.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #828080;
}

.item-card-content-head {
    height: 23%;
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.item-card-content-head h3 {
    font-size: 2rem;
    color: #F5F5F5;
    margin-left: 1rem;
}


.item-card-content-para {
    height: 30%;
    width: 100%;
    /* background-color: darkolivegreen; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.item-card-content-para p {
    font-size: 1.1rem;
    color: #b6b3b3;
    margin-left: 1rem;
}

.item-card-content-but {
    margin-top: 1.3rem;
    height: 30%;
    width: 100%;
    /* background-color: lightpink; */
    display: flex;
    gap: 11rem;
    align-items: end;
}

.item-card-content-but span {
    margin-left: 1rem;
    color: #ff6b00;
    font-size: 1.6rem;
}


.item-card-content-but button {
    height: 30px;
    width: 50px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #F5F5F5;
}

.item-card-content {
    height: 95%;
    width: 55%;
    /* background-color: chartreuse; */
}

.items-1 {
    margin-top: -6.5rem;
    height: 100vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-card-outer-1 {
    height: 80%;
    width: 90%;
    /* background-color: darksalmon; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-button {
    /* margin-top: -2rem; */
    height: 15vh;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}

.card-button button {
    padding: 1.5rem 19rem;
    gap: 2rem;
    font-size: 1.8rem;
    color: rgb(180, 148, 68);
    border-radius: 10px;
    border: 3px solid #f5a623;
    background: transparent;
}


































.footer {
    margin-top: 6rem;
    height: 30vh;
    width: 98%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    border: 1px solid #828080;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo {
    height: 90%;
    width: 25%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-pic {
    height: 180px;
    width: 180px;
    /* background-color: darkmagenta; */
    background-image: url(../Assets/Home/IMG_6930.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.footer-content {
    height: 90%;
    width: 45%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick {
    height: 100%;
    width: 30%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
}

.quick-head p {
    color: #F5F5F5;
    font-size: 1.3rem;
}

.quick-list ul {
    list-style: none;
    font-size: 1.1rem;
}

.quick-list ul li {
    padding: 0.3rem 0;
}

.quick-list li a {
    color: #b6b3b3;
    text-decoration: none;
    
}

.quick-1 {
    height: 100%;
    width: 30%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.quick-2 {
    height: 100%;
    width: 30%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.4rem;
}


.footer-icons {
    height: 90%;
    width: 25%;
    /* background-color: lightcyan; */
}


.follow {
    height: 40%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    /* align-items: center; */
}

.follow h3 {
    color: #F5F5F5;
    font-size: 1.4rem;
}

.footer-i {
    height: 50%;
    width: 100%;
    /* background-color: khaki; */
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.2rem;
}

.footer-i span a {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    color: #0d0e0d;
    background-color: #F5F5F5;
    border-radius: 50%;
}

.last-part {
    height: 4vh;
    width: 98%;
    background-color: #1a1a1a;
    margin-left: 1rem;
    border: 1px solid #828080;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-part p {
    color: #F5F5F5;
}